<a href="https://colab.research.google.com/github/psmainkar/End-to-end-data-analysis-project-/blob/main/Jobs_project_cleaning_PART1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
pd.set_option("display.max_rows", None)

In [ ]:
jobs= pd.read_csv('jobs.csv',index_col=0)

In [ ]:
jobs.head()

,name,rating,avg_salary,jobs,benefits,type_of_company,state,how_old,city,team_size,positives,negatives
0,TCS,3.8,853.3k,559,11.4k,IT Services & Consulting,Public,56,Mumbai,1 Lakh+ Employees,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits"
1,Accenture,4.0,583.1k,5.8k,7k,IT Services & Consulting,Public,35,Dublin,1 Lakh+ Employees,"Company Culture, Job Security, Skill Developme...",NaN
2,Cognizant,3.9,560.5k,525,5.8k,IT Services & Consulting,Forbes Global 2000,30,Teaneck. New Jersey.,1 Lakh+ Employees,Skill Development / Learning,Promotions / Appraisal
3,Wipro,3.8,415.3k,266,4.9k,IT Services & Consulting,Public,79,Bangalore/Bengaluru,1 Lakh+ Employees,Job Security,"Promotions / Appraisal, Salary & Benefits"
4,HDFC Bank,3.9,131.9k,270,3.2k,Banking,Public,30,Mumbai,1 Lakh+ Employees,"Job Security, Skill Development / Learning",Promotions / Appraisal

In [ ]:
jobs['state'].value_counts().head(10
                   )

Public                1747
Startup                352
Forbes Global 2000     299
17 years old           255
18 years old           230
24 years old           225
16 years old           220
14 years old           201
28 years old           192
20 years old           188
Name: state, dtype: int64

In [ ]:
new_order= [	'name',	'rating',	'avg_salary',	'jobs'	,'benefits',	'type_of_company',	'team_size' ,'state'	,'how_old'	,'city',		'positives',	'negatives']
jobs= jobs[new_order]
jobs.head()

,name,rating,avg_salary,jobs,benefits,type_of_company,team_size,state,how_old,city,positives,negatives
0,TCS,3.8,853.3k,559,11.4k,IT Services & Consulting,1 Lakh+ Employees,Public,56,Mumbai,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits"
1,Accenture,4.0,583.1k,5.8k,7k,IT Services & Consulting,1 Lakh+ Employees,Public,35,Dublin,"Company Culture, Job Security, Skill Developme...",NaN
2,Cognizant,3.9,560.5k,525,5.8k,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,30,Teaneck. New Jersey.,Skill Development / Learning,Promotions / Appraisal
3,Wipro,3.8,415.3k,266,4.9k,IT Services & Consulting,1 Lakh+ Employees,Public,79,Bangalore/Bengaluru,Job Security,"Promotions / Appraisal, Salary & Benefits"
4,HDFC Bank,3.9,131.9k,270,3.2k,Banking,1 Lakh+ Employees,Public,30,Mumbai,"Job Security, Skill Development / Learning",Promotions / Appraisal

In [ ]:
temp_clean= jobs[jobs['type_of_company'].str.contains('employees', case=False, na=False)]
temp_clean['type_of_company'].value_counts().head(10)

51-200 Employees             69
1k-5k Employees              58
201-500 Employees            50
501-1k Employees             42
11-50 Employees              19
10k-50k Employees            17
1-10 Employees               11
501-1k Employees (Global)     6
5k-10k Employees              5
1k-5k Employees (Global)      5
Name: type_of_company, dtype: int64

In [ ]:
temp_clean.head()

,name,rating,avg_salary,jobs,benefits,type_of_company,team_size,state,how_old,city,positives,negatives
20,Vodafone Idea,4.2,61.3k,336,2k,5k-10k Employees,Public,6 years old,Mumbai,NaN,"Company Culture, Work Life Balance, Salary & B...",NaN
56,NTT DATA,4.0,52.7k,93,770,10k-50k Employees,36 years old,Chiyoda City +52 more,NaN,NaN,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
112,Coforge,3.5,34.2k,185,323,10k-50k Employees,Public,20 years old,Rourkela,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Wor..."
127,SBI Cards & Payment Services,3.7,15.8k,130,349,1k-5k Employees,26 years old,Gurgaon/Gurugram +329 more,NaN,NaN,NaN,"Promotions / Appraisal, Work Satisfaction"
297,Capgemini Engineering,3.6,21.2k,87,155,10k-50k Employees,Gurgaon/Gurugram +19 more,NaN,NaN,NaN,Job Security,"Promotions / Appraisal, Salary & Benefits, Wor..."

In [ ]:

columnsshift= ['type_of_company', 'team_size'	,'state'	,'how_old',	'city']
x = temp_clean[columnsshift].shift(1, axis=1)
temp_clean[columnsshift]= x
temp_clean.shape

<ipython-input-12-386c047ed641>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_clean[columnsshift]= x

(292, 12)

In [ ]:
temp_clean2= temp_clean[~temp_clean['state'].isin(['Public'])]
temp_clean2.shape

(268, 12)

In [ ]:
columnsshift= ['state'	,'how_old',	'city']
x = temp_clean2[columnsshift].shift(1, axis=1)
temp_clean2[columnsshift]= x
temp_clean2

<ipython-input-14-4b2c15182f87>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_clean2[columnsshift]= x

,name,rating,avg_salary,jobs,benefits,type_of_company,team_size,state,how_old,city,positives,negatives
56,NTT DATA,4.0,52.7k,93,770,None,10k-50k Employees,None,36 years old,Chiyoda City +52 more,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
127,SBI Cards & Payment Services,3.7,15.8k,130,349,None,1k-5k Employees,None,26 years old,Gurgaon/Gurugram +329 more,NaN,"Promotions / Appraisal, Work Satisfaction"
297,Capgemini Engineering,3.6,21.2k,87,155,None,10k-50k Employees,None,Gurgaon/Gurugram +19 more,NaN,Job Security,"Promotions / Appraisal, Salary & Benefits, Wor..."
328,Yazaki,3.8,7.6k,5,262,None,10k-50k Employees,None,83 years old,Tokyo +64 more,NaN,"Promotions / Appraisal, Salary & Benefits"
434,Taurus BPO Services,4.6,642,1,523,None,1k-5k Employees,None,9 years old,Pune +14 more,"Skill Development / Learning, Company Culture,...",NaN
459,SGS,4.0,5.8k,181,190,None,1k-5k Employees,None,Forbes Global 2000,146 years old,"Work Life Balance, Company Culture",Promotions / Appraisal
537,Credit Suisse,4.2,16.1k,55,177,None,10k-50k Employees,None,168 years old,Zurich +9 more,"Work Life Balance, Company Culture, Salary & B...",Job Security
541,NTPC,4.3,3.6k,--,182,None,10k-50k Employees,None,Fortune India 500,49 years old,"Work Life Balance, Job Security, Skill Develop...",NaN
712,CorroHealth,3.3,4.1k,4,15,None,1k-5k Employees,None,Chennai +15 more,NaN,NaN,"Work Life Balance, Promotions / Appraisal, Wor..."
717,JioMart,3.9,3.2k,--,77,None,51-200 Employees,None,Kolkata +239 more,NaN,"Skill Development / Learning, Salary & Benefits","Promotions / Appraisal, Job Security"
907,Medplus(optival Health Solutions),3.5,3.1k,12,61,None,501-1k Employees,None,Fortune India 500,18 years old,NaN,"Promotions / Appraisal, Salary & Benefits, Wor..."
1090,Kohler,3.9,3.9k,11,82,None,1k-5k Employees,None,151 years old,Gurgaon/Gurugram +37 more,Salary & Benefits,"Promotions / Appraisal, Job Security"
1101,Karvy Stock Broking,3.5,3.4k,4,71,None,1k-5k Employees,None,34 years old,Hyderabad/Secunderabad +101 more,NaN,"Promotions / Appraisal, Salary & Benefits, Job..."
1139,Artech Infosystems,3.5,4k,109,75,None,1k-5k Employees,None,32 years old,Morristown +19 more,NaN,"Promotions / Appraisal, Job Security, Skill De..."
1174,Dhani Services,3.4,2.4k,83,8,None,201-500 Employees,None,7 years old,Mumbai +74 more,NaN,"Job Security, Promotions / Appraisal, Company ..."
1266,Neeyamo Enterprise Solutions,3.7,3.8k,--,70,None,1k-5k Employees,None,15 years old,Chennai +9 more,NaN,"Salary & Benefits, Promotions / Appraisal, Wor..."
1519,PPG Asian Paints,4.0,2.5k,--,68,None,1k-5k Employees,None,27 years old,Mumbai +52 more,"Job Security, Skill Development / Learning, Sa...",Promotions / Appraisal
1590,Rane NSK Steering Systems,4.1,1.8k,--,72,None,201-500 Employees,None,Bawal +17 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
1635,Wipro PARI,3.4,2k,3,25,None,1k-5k Employees,None,Pune +16 more,NaN,Job Security,"Work Life Balance, Company Culture, Work Satis..."
1711,London Stock Exchange Group,4.1,4k,--,54,None,5k-10k Employees,None,326 years old,London +8 more,"Job Security, Company Culture, Work Life Balance",Promotions / Appraisal
1743,Amul India,4.3,2.2k,2,2,None,1k-5k Employees (Global),None,51 years old,Anand +108 more,"Job Security, Work Life Balance, Company Culture",NaN
1756,Assystem,3.8,1.1k,--,6,None,1k-5k Employees,None,30 years old,Paris +49 more,NaN,"Promotions / Appraisal, Salary & Benefits, Job..."
1781,AI Airport Services,3.4,1.1k,--,3,None,1k-5k Employees,None,Mumbai +49 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
1848,Danfoss Industries,4.1,2.5k,15,68,None,501-1k Employees,None,31 years old,Nordborg +17 more,"Work Life Balance, Company Culture, Skill Deve...",NaN
2146,Mazagon Dock,4.3,1.2k,--,34,None,1k-5k Employees,None,Fortune India 500,90 years old,"Work Life Balance, Skill Development / Learnin...",NaN
2250,Kalyani Technoforge,4.0,1.6k,3,40,None,1k-5k Employees,None,45 years old,Pune +12 more,"Skill Development / Learning, Job Security",Promotions / Appraisal
2386,Johnson Matthey,4.0,1.6k,3,62,None,501-1k Employees,None,Forbes Global 2000,207 years old,"Company Culture, Work Life Balance",Promotions / Appraisal
2598,OnProcess Technology,3.7,1.1k,4,59,None,501-1k Employees,None,26 years old,Kolkata +2 more,NaN,"Promotions / Appraisal, Salary & Benefits"
2604,OnProcess Technology,3.7,1.1k,4,59,None,501-1k Employees,None,26 years old,Boston +2 more,NaN,"Promotions / Appraisal, Salary & Benefits"
2619,Pranav Vikas India,3.8,1.3k,1,33,None,201-500 Employees,None,37 years old,Delhi/NCR +7 more,NaN,"Promotions / Appraisal, Job Security, Salary &..."
2648,Solv,3.8,821,9,19,None,201-500 Employees,None,5 years old,Bangalore +68 more,Salary & Benefits,Job Security
2663,Saxo Bank,3.1,2.2k,3,40,None,1k-5k Employees,None,32 years old,Copenhagen +3 more,NaN,"Job Security, Promotions / Appraisal, Work Sat..."
2723,IndianOil Adani Ventures,4.3,916,--,4,None,201-500 Employees (Global),None,27 years old,Mumbai +25 more,"Company Culture, Skill Development / Learning,...",NaN
2766,Suzlon Global Services,3.9,1.2k,--,9,None,51-200 Employees,None,Pune +43 more,NaN,"Job Security, Skill Development / Learning",Promotions / Appraisal
2798,Parksons Packaging,4.0,1.3k,10,26,None,1k-5k Employees,None,28 years old,Mumbai +18 more,"Job Security, Work Life Balance, Skill Develop...",Promotions / Appraisal
2847,Zeetech Management And Marketing,4.4,52,--,19,None,1-10 Employees,None,13 years old,Dehradun +35 more,"Work Satisfaction, Company Culture, Skill Deve...",NaN
2865,Roquette Riddhi Siddhi,3.9,1.2k,2,42,None,1k-5k Employees,None,91 years old,Lestrem +18 more,NaN,"Promotions / Appraisal, Salary & Benefits"
2868,Zf Wind Power,4.1,1.4k,--,43,None,1k-5k Employees,None,101 years old,Lommel +5 more,"Job Security, Company Culture, Skill Developme...",NaN
2932,Stellantis,3.3,2.1k,--,16,None,1k-5k Employees,None,Chennai +10 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
2949,Qwik Supply Chain,3.6,763,--,18,None,1k-5k Employees,None,Jaipur +106 more,NaN,NaN,"Promotions / Appraisal, Job Security, Company ..."
3017,Global Aluminium,3.8,692,--,18,None,1k-5k Employees,None,27 years old,Hyderabad/Secunderabad +13 more,Skill Development / Learning,NaN
3024,Global Aluminium,3.8,692,--,18,None,1k-5k Employees,None,27 years old,Hyderabad/Secunderabad +13 more,Skill Development / Learning,NaN
3161,Signode,4.1,1.4k,1,37,None,501-1k Employees,None,111 years old,Glenview +29 more,"Work Life Balance, Job Security, Company Culture",Promotions / Appraisal
3193,VFISLK,4.0,1.3k,28,19,None,1k-5k Employees,None,Bengaluru/Bangalore +7 more,NaN,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
3223,Mahle Anand Thermal Systems,4.2,1.1k,--,31,None,201-500 Employees,None,Pune +9 more,NaN,"Job Security, Company Culture, Skill Developme...",NaN
3353,Ambit Finvest,4.1,958,--,16,None,51-200 Employees,None,Mumbai +53 more,NaN,"Salary & Benefits, Company Culture, Job Security",NaN
3529,Big C,4.0,711,7,23,None,1k-5k Employees,None,22 years old,Hyderabad/Secunderabad +45 more,"Skill Development / Learning, Work Life Balance",Promotions / Appraisal
3580,Kyndal India,3.8,2.5k,2,48,None,51-200 Employees,None,22 years old,Gurgaon +11 more,Work Life Balance,"Promotions / Appraisal, Salary & Benefits"
3650,Hicare Services,3.7,897,4,26,None,501-1k Employees,None,21 years old,Mumbai +24 more,NaN,Promotions / Appraisal
3736,Freelancer.com,4.3,27.9k,594,15,None,10k-50k Employees,None,13 years old,Delhi +32 more,"Work Life Balance, Skill Development / Learnin...",NaN
3860,Rakuten Symphony,3.7,1.8k,10,13,None,1k-5k Employees,None,3 years old,Tokyo +3 more,NaN,"Promotions / Appraisal, Work Satisfaction, Com..."
3879,Duroflex,4.1,1.2k,8,21,None,501-1k Employees,None,61 years old,Bangalore +35 more,"Work Life Balance, Company Culture, Job Security",NaN
3980,Vasta Global,3.7,968,10,7,None,1k-5k Employees,None,Navi Mumbai +7 more,NaN,Work Life Balance,"Promotions / Appraisal, Salary & Benefits, Ski..."
3998,KHY ELECTRONIC,3.5,793,--,25,None,11-50 Employees,None,Noida +6 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Job..."
4028,Faiveley Transport,4.0,894,12,32,None,501-1k Employees,None,155 years old,Pittsburgh +14 more,"Company Culture, Work Life Balance, Skill Deve...",NaN
4047,Faiveley Transport,4.0,894,12,32,None,501-1k Employees,None,155 years old,Hosur +14 more,"Company Culture, Work Life Balance, Skill Deve...",NaN
4100,Tata Play Fiber,4.3,896,9,16,None,51-200 Employees,None,Mumbai +26 more,NaN,"Company Culture, Skill Development / Learning,...",NaN
4184,ExpertCallers,3.6,722,3,10,None,11-50 Employees,None,Bengaluru/Bangalore +6 more,NaN,NaN,"Promotions / Appraisal, Job Security, Salary &..."
4206,Citizens Alliance,4.5,79,1,9,None,501-1k Employees (Global),None,9 years old,Noida +5 more,"Company Culture, Work Life Balance, Work Satis...",NaN
4232,Flipkart Wholesale,4.0,531,--,24,None,11-50 Employees,None,Bengaluru/Bangalore +45 more,NaN,"Company Culture, Work Life Balance, Salary & B...",NaN
4242,IIHT,4.1,896,--,32,None,1k-5k Employees,None,31 years old,Bangalore/Bengaluru +23 more,"Work Life Balance, Skill Development / Learnin...",NaN
4288,Steelman Telecom,3.7,659,--,11,None,501-1k Employees (Global),None,38 years old,Bengaluru/Bangalore +33 more,NaN,"Promotions / Appraisal, Job Security, Company ..."
4296,State Street Global Advisors,3.9,2.3k,--,34,None,501-1k Employees,None,46 years old,Bengaluru/Bangalore +4 more,"Job Security, Work Life Balance, Company Culture",NaN
4341,Quantzig,4.8,188,5,66,None,51-200 Employees,None,Bengaluru/Bangalore +1 more,NaN,"Salary & Benefits, Skill Development / Learnin...",NaN
4362,Balaji Action Buildwell,3.8,781,--,19,None,1k-5k Employees,None,33 years old,Delhi/NCR +19 more,"Job Security, Skill Development / Learning","Promotions / Appraisal, Salary & Benefits"
4395,SCA Health India,4.9,214,--,14,None,201-500 Employees,None,Forbes Global 2000,11 years old,"Company Culture, Work Life Balance, Job Security",NaN
4464,Peerless Biotech,4.5,97,--,7,None,51-200 Employees,None,Chennai +25 more,NaN,"Skill Development / Learning, Work Satisfactio...",NaN
4553,Nandi Toyota,4.0,579,--,22,None,201-500 Employees,None,23 years old,Bengaluru +4 more,"Job Security, Company Culture, Skill Developme...",NaN
4563,Nandi Toyota,4.0,579,--,22,None,201-500 Employees,None,23 years old,Bengaluru +4 more,"Job Security, Company Culture, Skill Developme...",NaN
4589,Student Life,3.9,541,5,7,None,501-1k Employees,None,6 years old,Kolkata +30 more,"Job Security, Skill Development / Learning, Wo...",NaN
4625,ITC ABD,3.7,802,--,25,None,51-200 Employees,None,114 years old,Kolkata +48 more,Job Security,"Promotions / Appraisal, Work Satisfaction, Wor..."
4645,Dixcy Textiles,4.2,794,1,25,None,1k-5k Employees,None,40 years old,Bangalore/Bengaluru +31 more,"Skill Development / Learning, Work Life Balanc...",NaN
4739,Electrical Maintenance,4.1,1.1k,--,14,None,1-10 Employees,None,Chennai +48 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
4753,Hitachi Astemo Rajasthan Brake Systems,4.2,566,--,19,None,201-500 Employees,None,Neemrana +10 more,NaN,"Company Culture, Work Life Balance, Job Security",NaN
4893,Intech Organics,3.4,1k,2,11,None,201-500 Employees,None,25 years old,Gurugram +13 more,NaN,"Job Security, Company Culture, Promotions / Ap..."
4908,Marelli Motherson Automotive Lighting,3.8,717,--,15,None,11-50 Employees,None,Pune +9 more,NaN,"Job Security, Skill Development / Learning",NaN
4979,Acmegrade,3.5,108,--,2,None,51-200 Employees,None,Bengaluru/Bangalore +8 more,NaN,NaN,"Salary & Benefits, Work Satisfaction, Job Secu..."
5038,Kaveri Seed Company,4.0,591,--,12,None,1k-5k Employees,None,48 years old,Hyderabad/Secunderabad +37 more,"Work Life Balance, Job Security, Work Satisfac...",NaN
5106,Msn Pharmachem,4.3,308,--,15,None,1k-5k Employees,None,20 years old,Hyderabad +3 more,"Job Security, Promotions / Appraisal, Salary &...",NaN
5181,Kpmg Resource Centre,3.9,919,--,14,None,1k-5k Employees,None,Mumbai +10 more,NaN,"Job Security, Company Culture, Skill Developme...","Promotions / Appraisal, Work Satisfaction, Sal..."
5183,Vishwa Samudra Engineering,4.0,663,10,13,None,501-1k Employees,None,Hyderabad/Secunderabad +24 more,NaN,Skill Development / Learning,NaN
5237,ITC Group,4.0,1.2k,--,15,None,10k-50k Employees,None,Bengaluru/Bangalore +35 more,NaN,"Job Security, Skill Development / Learning",Promotions / Appraisal
5303,Horiba India,3.5,944,--,20,None,201-500 Employees,None,71 years old,Kyoto +14 more,NaN,"Promotions / Appraisal, Skill Development / Le..."
5346,Virtuoso,3.9,679,16,2,None,201-500 Employees,None,8 years old,Pune +3 more,"Job Security, Skill Development / Learning, Co...","Salary & Benefits, Promotions / Appraisal"
5368,iNeuron.ai,4.0,643,--,28,None,51-200 Employees,None,Bengaluru/Bangalore +3 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
5599,Premier Indoplast,3.8,443,--,4,None,51-200 Employees,None,45 years old,Bhubaneswar +12 more,NaN,"Company Culture, Salary & Benefits"
5603,Reliance Group,4.2,696,--,7,None,1 Lakh+ Employees,None,Conglomerate,58 years old,"Work Life Balance, Company Culture, Skill Deve...",NaN
5610,Txd (india) Technology,4.1,653,--,15,None,51-200 Employees,None,Bawal +9 more,NaN,"Skill Development / Learning, Work Life Balanc...",Promotions / Appraisal
5739,Tax Consultants,4.1,1.1k,--,9,None,11-50 Employees (Global),None,Fairfield +61 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
5832,Oasis Resource Management,4.2,201,--,15,None,51-200 Employees,None,24 years old,New Delhi +2 more,"Work Life Balance, Work Satisfaction, Skill De...",NaN
5834,Concentric,3.8,740,2,19,None,11-50 Employees,None,Gurgaon/Gurugram +17 more,NaN,Job Security,"Promotions / Appraisal, Salary & Benefits"
5863,First Data,4.1,1k,--,16,None,10k-50k Employees (Global),None,Atlanta +12 more,NaN,"Work Life Balance, Company Culture, Salary & B...",NaN
5892,First Data,4.1,1k,--,16,None,10k-50k Employees (Global),None,Atlanta +12 more,NaN,"Work Life Balance, Company Culture, Salary & B...",NaN
6054,Netoyed,4.0,90,11,115,None,11-50 Employees,None,Noida +1 more,NaN,"Skill Development / Learning, Work Life Balanc...",NaN
6143,Covestro,4.5,609,--,19,None,201-500 Employees,None,Forbes Global 2000,9 years old,"Company Culture, Work Life Balance, Salary & B...",NaN
6147,Motilal Oswal Securities,4.2,317,--,16,None,1k-5k Employees (Global),None,Mumbai +21 more,NaN,"Skill Development / Learning, Salary & Benefit...",NaN
6236,Shyam Steel Manufacturing,3.5,610,3,4,None,1k-5k Employees,None,Kolkata +24 more,NaN,NaN,"Work Satisfaction, Promotions / Appraisal, Job..."
6262,Institute of Chemical Technology,4.1,579,--,12,None,501-1k Employees (Global),None,91 years old,Mumbai +22 more,"Work Life Balance, Skill Development / Learnin...",NaN
6270,Annova Solutions,3.8,461,3,9,None,10k-50k Employees,None,Indore +2 more,NaN,NaN,NaN
6290,The Web Plant,4.2,356,--,37,None,51-200 Employees,None,13 years old,New Delhi +1 more,"Company Culture, Skill Development / Learning,...",NaN
6355,INTERPLEX,4.1,777,3,12,None,501-1k Employees,None,54 years old,Singapore +7 more,"Job Security, Skill Development / Learning, Co...",NaN
6377,Toshiba Water Solutions,3.9,667,--,11,None,51-200 Employees,None,Gurgaon/Gurugram +14 more,NaN,"Job Security, Work Life Balance",Promotions / Appraisal
6400,Outlook,3.4,121,--,7,None,51-200 Employees,None,Chennai +12 more,NaN,NaN,"Promotions / Appraisal, Work Satisfaction, Sal..."
6475,ICA Pidilite,4.1,577,31,9,None,51-200 Employees,None,Mumbai +31 more,NaN,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
6484,ICA Pidilite,4.1,577,31,9,None,51-200 Employees,None,Mumbai +31 more,NaN,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
6586,QO BOX,4.7,43,--,13,None,11-50 Employees,None,Chennai +3 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
6639,Byju's Future School,3.2,246,--,23,None,10k-50k Employees,None,Bengaluru/Bangalore +20 more,NaN,NaN,"Job Security, Company Culture, Promotions / Ap..."
6665,LCC Projects,4.1,369,1,8,None,1k-5k Employees,None,Ahmedabad +16 more,NaN,"Salary & Benefits, Company Culture, Skill Deve...",NaN
6704,Relevel,2.9,515,28,7,None,51-200 Employees,None,Bengaluru/Bangalore +8 more,NaN,NaN,"Job Security, Work Satisfaction, Company Culture"
6762,Little Nap Recliners,4.8,27,--,43,None,201-500 Employees,None,New Delhi +15 more,NaN,"Company Culture, Skill Development / Learning,...",NaN
6766,Reliance Smart Point,4.1,319,--,9,None,1-10 Employees,None,Kolkata +46 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
6884,Deccan iServices,3.3,667,3,4,None,201-500 Employees,None,Chennai +6 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
6890,Red Tape,3.5,507,--,3,None,10k-50k Employees,None,28 years old,Noida +33 more,NaN,"Job Security, Work Satisfaction, Work Life Bal..."
6891,Jewelex India,3.6,583,1,12,None,1k-5k Employees,None,58 years old,Mumbai +4 more,NaN,"Promotions / Appraisal, Salary & Benefits, Wor..."
6903,Jewelex India,3.6,583,1,12,None,1k-5k Employees,None,58 years old,Mumbai +4 more,NaN,"Promotions / Appraisal, Salary & Benefits, Wor..."
6904,Deccan iServices,3.3,667,3,4,None,201-500 Employees,None,Chennai +6 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
6952,Ind swift ltd. Gbu,4.0,57,--,4,None,1k-5k Employees,None,Chandigarh +14 more,NaN,"Work Life Balance, Work Satisfaction",Promotions / Appraisal
6956,Cyient DLM,3.7,544,21,10,None,10k-50k Employees (Global),None,33 years old,Hyderabad +6 more,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
6983,ACS Group,3.5,883,2,29,None,501-1k Employees,None,26 years old,Duluth +7 more,NaN,"Promotions / Appraisal, Salary & Benefits, Wor..."
7086,CP Plus,4.0,444,--,10,None,201-500 Employees,None,Tirupati +20 more,NaN,"Skill Development / Learning, Work Satisfactio...",NaN
7126,Rayden Interactive,3.0,616,6,9,None,501-1k Employees,None,5 years old,Pune +1 more,NaN,"Job Security, Skill Development / Learning, Wo..."
7190,Acme Industries,4.2,277,--,5,None,11-50 Employees,None,Guwahati +6 more,NaN,"Skill Development / Learning, Company Culture,...","Promotions / Appraisal, Salary & Benefits"
7192,Itvedant Education,4.3,196,42,7,None,11-50 Employees,None,Thane +8 more,NaN,"Company Culture, Skill Development / Learning,...",NaN
7197,Experis,3.3,838,10,9,None,501-1k Employees (Global),None,Gurgaon +12 more,NaN,NaN,"Promotions / Appraisal, Job Security, Work Sat..."
7300,Ashv Finance,4.2,518,--,8,None,51-200 Employees,None,Mumbai +26 more,NaN,"Work Life Balance, Company Culture, Salary & B...",NaN
7303,Edvoy,4.5,135,--,60,None,51-200 Employees,None,18 years old,Manchester +4 more,"Work Life Balance, Promotions / Appraisal, Job...",NaN
7353,Girnarsoft Automobiles,3.4,361,--,16,None,1k-5k Employees,None,Gurgaon/Gurugram +24 more,NaN,NaN,"Job Security, Promotions / Appraisal, Skill De..."
7355,Clarus Rcm Infotech,3.5,464,1,9,None,51-200 Employees,None,Hyderabad/Secunderabad +4 more,NaN,NaN,"Job Security, Promotions / Appraisal, Company ..."
7360,Clarus Rcm Infotech,3.5,464,1,9,None,51-200 Employees,None,Hyderabad/Secunderabad +4 more,NaN,NaN,"Job Security, Promotions / Appraisal, Company ..."
7366,Girnarsoft Automobiles,3.4,361,--,16,None,1k-5k Employees,None,Gurgaon/Gurugram +24 more,NaN,NaN,"Job Security, Promotions / Appraisal, Skill De..."
7399,RS India Group,4.0,186,--,3,None,51-200 Employees,None,Noida +24 more,NaN,"Work Life Balance, Skill Development / Learning",Promotions / Appraisal
7410,Oasis Partners Asia,3.9,452,--,9,None,5k-10k Employees,None,Mumbai +50 more,NaN,Skill Development / Learning,"Promotions / Appraisal, Job Security, Salary &..."
7434,ElringKlinger AG,3.7,544,--,11,None,51-200 Employees,None,145 years old,Dettingen +4 more,NaN,"Promotions / Appraisal, Work Satisfaction, Job..."

In [ ]:
temp_clean2['how_old'].value_counts()

13 years old                       9
27 years old                       7
Forbes Global 2000                 5
26 years old                       5
18 years old                       5
31 years old                       4
Mumbai +7 more                     4
4 years old                        4
20 years old                       3
19 years old                       3
41 years old                       3
32 years old                       3
45 years old                       3
28 years old                       3
14 years old                       3
22 years old                       3
Fortune India 500                  3
5 years old                        3
12 years old                       3
33 years old                       2
Chennai +6 more                    2
New Delhi +15 more                 2
23 years old                       2
Mumbai +31 more                    2
Atlanta +12 more                   2
Bengaluru/Bangalore +3 more        2
25 years old                       2
Mumbai +10 more                    2
Bengaluru/Bangalore +8 more        2
8 years old                        2
36 years old                       2
Gurgaon/Gurugram +24 more          2
Hyderabad/Secunderabad +4 more     2
Bengaluru/Bangalore +6 more        2
16 years old                       2
47 years old                       2
29 years old                       2
Chennai +4 more                    2
Hyderabad/Secunderabad +1 more     2
Jamshedpur +3 more                 2
Hyderabad/Secunderabad +2 more     2
Jaipur +20 more                    2
Firozabad +17 more                 2
106 years old                      2
Bengaluru/Bangalore +1 more        2
58 years old                       2
7 years old                        2
37 years old                       2
91 years old                       2
9 years old                        2
30 years old                       2
Pune +9 more                       2
155 years old                      2
Mumbai +26 more                    2
55 years old                       1
Hyderabad/Secunderabad             1
Chennai +20 more                   1
Noida +5 more                      1
17 years old                       1
Kolkata +239 more                  1
Nagpur +6 more                     1
Meerut +2 more                     1
89 years old                       1
Mumbai +14 more                    1
52 years old                       1
Bengaluru/Bangalore +45 more       1
Ahmedabad +8 more                  1
151 years old                      1
Chennai +15 more                   1
Pune +40 more                      1
Delhi +6 more                      1
Surat +9 more                      1
35 years old                       1
34 years old                       1
Chandigarh +3 more                 1
Bengaluru/Bangalore +4 more        1
Gurgaon/Gurugram +7 more           1
15 years old                       1
Bawal +17 more                     1
Jaipur +1 more                     1
Bengaluru/Bangalore +13 more       1
Haldia +5 more                     1
57 years old                       1
Tirupati +7 more                   1
Tirupati +9 more                   1
Kolkata +5 more                    1
Greater Noida +7 more              1
Noida +3 more                      1
Bokaro +2 more                     1
Pune +35 more                      1
Noida +2 more                      1
Chennai +26 more                   1
Gurgaon/Gurugram +19 more          1
Mohali +6 more                     1
Pune +19 more                      1
Bawal +13 more                     1
Chennai +5 more                    1
Lucknow +40 more                   1
Bengaluru/Bangalore +9 more        1
Pune +16 more                      1
Ahmedabad +4 more                  1
39 years old                       1
Pune +3 more                       1
83 years old                       1
168 years old                      1
London +13 more                    1
Hyderabad/Secunderabad +11 more    1
Noida +19 more                     1
Pune +2 more                       1
Vadodara +15 more                  1
Hyderabad/Secunderabad +5 more     1
104 years old                      1
Chennai +9 more                    1
Panchkula +15 more                 1
New Delhi +4 more                  1
Bengaluru/Bangalore +22 more       1
Gurgaon/Gurugram +14 more          1
Indore +2 more                     1
Kolkata +24 more                   1
Mumbai +21 more                    1
Noida +1 more                      1
Bengaluru/Bangalore +7 more        1
Gurgaon/Gurugram +17 more          1
24 years old                       1
Fairfield +61 more                 1
Bawal +9 more                      1
Conglomerate                       1
Mumbai +53 more                    1
71 years old                       1
Bengaluru/Bangalore +35 more       1
Hyderabad/Secunderabad +24 more    1
21 years old                       1
3 years old                        1
48 years old                       1
61 years old                       1
Navi Mumbai +7 more                1
Neemrana +10 more                  1
Chennai +48 more                   1
40 years old                       1
114 years old                      1
6 years old                        1
Noida +6 more                      1
Chennai +25 more                   1
46 years old                       1
54 years old                       1
Chennai +12 more                   1
Kolkata +23 more                   1
111 years old                      1
38 years old                       1
Hyderabad/Secunderabad +9 more     1
Mumbai +18 more                    1
326 years old                      1
Gurgaon/Gurugram +22 more          1
Hosur +9 more                      1
51 years old                       1
76 years old                       1
Gurgaon/Gurugram +8 more           1
Hyderabad/Secunderabad +15 more    1
Mumbai +49 more                    1
145 years old                      1
Mumbai +50 more                    1
Noida +24 more                     1
Pune +43 more                      1
Gurgaon +12 more                   1
Thane +8 more                      1
Guwahati +6 more                   1
Tirupati +20 more                  1
Chandigarh +14 more                1
101 years old                      1
Chennai +10 more                   1
Kolkata +46 more                   1
Jaipur +106 more                   1
Ahmedabad +16 more                 1
Bengaluru/Bangalore +20 more       1
Chennai +3 more                    1
Aligarh +3 more                    1
Name: how_old, dtype: int64

In [ ]:
temp_clean3= temp_clean2[temp_clean2['how_old'].str.endswith('more')]
columnsshift= ['how_old',	'city']
x = temp_clean3[columnsshift].shift(1, axis=1)
temp_clean3[columnsshift]= x
temp_clean3

<ipython-input-16-1bd25e92e0d1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_clean3[columnsshift]= x

,name,rating,avg_salary,jobs,benefits,type_of_company,team_size,state,how_old,city,positives,negatives
297,Capgemini Engineering,3.6,21.2k,87,155,None,10k-50k Employees,None,None,Gurgaon/Gurugram +19 more,Job Security,"Promotions / Appraisal, Salary & Benefits, Wor..."
712,CorroHealth,3.3,4.1k,4,15,None,1k-5k Employees,None,None,Chennai +15 more,NaN,"Work Life Balance, Promotions / Appraisal, Wor..."
717,JioMart,3.9,3.2k,--,77,None,51-200 Employees,None,None,Kolkata +239 more,"Skill Development / Learning, Salary & Benefits","Promotions / Appraisal, Job Security"
1590,Rane NSK Steering Systems,4.1,1.8k,--,72,None,201-500 Employees,None,None,Bawal +17 more,"Skill Development / Learning, Company Culture,...",NaN
1635,Wipro PARI,3.4,2k,3,25,None,1k-5k Employees,None,None,Pune +16 more,Job Security,"Work Life Balance, Company Culture, Work Satis..."
1781,AI Airport Services,3.4,1.1k,--,3,None,1k-5k Employees,None,None,Mumbai +49 more,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
2766,Suzlon Global Services,3.9,1.2k,--,9,None,51-200 Employees,None,None,Pune +43 more,"Job Security, Skill Development / Learning",Promotions / Appraisal
2932,Stellantis,3.3,2.1k,--,16,None,1k-5k Employees,None,None,Chennai +10 more,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
2949,Qwik Supply Chain,3.6,763,--,18,None,1k-5k Employees,None,None,Jaipur +106 more,NaN,"Promotions / Appraisal, Job Security, Company ..."
3193,VFISLK,4.0,1.3k,28,19,None,1k-5k Employees,None,None,Bengaluru/Bangalore +7 more,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
3223,Mahle Anand Thermal Systems,4.2,1.1k,--,31,None,201-500 Employees,None,None,Pune +9 more,"Job Security, Company Culture, Skill Developme...",NaN
3353,Ambit Finvest,4.1,958,--,16,None,51-200 Employees,None,None,Mumbai +53 more,"Salary & Benefits, Company Culture, Job Security",NaN
3980,Vasta Global,3.7,968,10,7,None,1k-5k Employees,None,None,Navi Mumbai +7 more,Work Life Balance,"Promotions / Appraisal, Salary & Benefits, Ski..."
3998,KHY ELECTRONIC,3.5,793,--,25,None,11-50 Employees,None,None,Noida +6 more,NaN,"Promotions / Appraisal, Salary & Benefits, Job..."
4100,Tata Play Fiber,4.3,896,9,16,None,51-200 Employees,None,None,Mumbai +26 more,"Company Culture, Skill Development / Learning,...",NaN
4184,ExpertCallers,3.6,722,3,10,None,11-50 Employees,None,None,Bengaluru/Bangalore +6 more,NaN,"Promotions / Appraisal, Job Security, Salary &..."
4232,Flipkart Wholesale,4.0,531,--,24,None,11-50 Employees,None,None,Bengaluru/Bangalore +45 more,"Company Culture, Work Life Balance, Salary & B...",NaN
4341,Quantzig,4.8,188,5,66,None,51-200 Employees,None,None,Bengaluru/Bangalore +1 more,"Salary & Benefits, Skill Development / Learnin...",NaN
4464,Peerless Biotech,4.5,97,--,7,None,51-200 Employees,None,None,Chennai +25 more,"Skill Development / Learning, Work Satisfactio...",NaN
4739,Electrical Maintenance,4.1,1.1k,--,14,None,1-10 Employees,None,None,Chennai +48 more,"Skill Development / Learning, Company Culture,...",NaN
4753,Hitachi Astemo Rajasthan Brake Systems,4.2,566,--,19,None,201-500 Employees,None,None,Neemrana +10 more,"Company Culture, Work Life Balance, Job Security",NaN
4908,Marelli Motherson Automotive Lighting,3.8,717,--,15,None,11-50 Employees,None,None,Pune +9 more,"Job Security, Skill Development / Learning",NaN
4979,Acmegrade,3.5,108,--,2,None,51-200 Employees,None,None,Bengaluru/Bangalore +8 more,NaN,"Salary & Benefits, Work Satisfaction, Job Secu..."
5181,Kpmg Resource Centre,3.9,919,--,14,None,1k-5k Employees,None,None,Mumbai +10 more,"Job Security, Company Culture, Skill Developme...","Promotions / Appraisal, Work Satisfaction, Sal..."
5183,Vishwa Samudra Engineering,4.0,663,10,13,None,501-1k Employees,None,None,Hyderabad/Secunderabad +24 more,Skill Development / Learning,NaN
5237,ITC Group,4.0,1.2k,--,15,None,10k-50k Employees,None,None,Bengaluru/Bangalore +35 more,"Job Security, Skill Development / Learning",Promotions / Appraisal
5368,iNeuron.ai,4.0,643,--,28,None,51-200 Employees,None,None,Bengaluru/Bangalore +3 more,"Skill Development / Learning, Company Culture,...",NaN
5610,Txd (india) Technology,4.1,653,--,15,None,51-200 Employees,None,None,Bawal +9 more,"Skill Development / Learning, Work Life Balanc...",Promotions / Appraisal
5739,Tax Consultants,4.1,1.1k,--,9,None,11-50 Employees (Global),None,None,Fairfield +61 more,"Skill Development / Learning, Company Culture,...",NaN
5834,Concentric,3.8,740,2,19,None,11-50 Employees,None,None,Gurgaon/Gurugram +17 more,Job Security,"Promotions / Appraisal, Salary & Benefits"
5863,First Data,4.1,1k,--,16,None,10k-50k Employees (Global),None,None,Atlanta +12 more,"Work Life Balance, Company Culture, Salary & B...",NaN
5892,First Data,4.1,1k,--,16,None,10k-50k Employees (Global),None,None,Atlanta +12 more,"Work Life Balance, Company Culture, Salary & B...",NaN
6054,Netoyed,4.0,90,11,115,None,11-50 Employees,None,None,Noida +1 more,"Skill Development / Learning, Work Life Balanc...",NaN
6147,Motilal Oswal Securities,4.2,317,--,16,None,1k-5k Employees (Global),None,None,Mumbai +21 more,"Skill Development / Learning, Salary & Benefit...",NaN
6236,Shyam Steel Manufacturing,3.5,610,3,4,None,1k-5k Employees,None,None,Kolkata +24 more,NaN,"Work Satisfaction, Promotions / Appraisal, Job..."
6270,Annova Solutions,3.8,461,3,9,None,10k-50k Employees,None,None,Indore +2 more,NaN,NaN
6377,Toshiba Water Solutions,3.9,667,--,11,None,51-200 Employees,None,None,Gurgaon/Gurugram +14 more,"Job Security, Work Life Balance",Promotions / Appraisal
6400,Outlook,3.4,121,--,7,None,51-200 Employees,None,None,Chennai +12 more,NaN,"Promotions / Appraisal, Work Satisfaction, Sal..."
6475,ICA Pidilite,4.1,577,31,9,None,51-200 Employees,None,None,Mumbai +31 more,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
6484,ICA Pidilite,4.1,577,31,9,None,51-200 Employees,None,None,Mumbai +31 more,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
6586,QO BOX,4.7,43,--,13,None,11-50 Employees,None,None,Chennai +3 more,"Skill Development / Learning, Company Culture,...",NaN
6639,Byju's Future School,3.2,246,--,23,None,10k-50k Employees,None,None,Bengaluru/Bangalore +20 more,NaN,"Job Security, Company Culture, Promotions / Ap..."
6665,LCC Projects,4.1,369,1,8,None,1k-5k Employees,None,None,Ahmedabad +16 more,"Salary & Benefits, Company Culture, Skill Deve...",NaN
6704,Relevel,2.9,515,28,7,None,51-200 Employees,None,None,Bengaluru/Bangalore +8 more,NaN,"Job Security, Work Satisfaction, Company Culture"
6762,Little Nap Recliners,4.8,27,--,43,None,201-500 Employees,None,None,New Delhi +15 more,"Company Culture, Skill Development / Learning,...",NaN
6766,Reliance Smart Point,4.1,319,--,9,None,1-10 Employees,None,None,Kolkata +46 more,"Skill Development / Learning, Company Culture,...",NaN
6884,Deccan iServices,3.3,667,3,4,None,201-500 Employees,None,None,Chennai +6 more,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
6904,Deccan iServices,3.3,667,3,4,None,201-500 Employees,None,None,Chennai +6 more,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
6952,Ind swift ltd. Gbu,4.0,57,--,4,None,1k-5k Employees,None,None,Chandigarh +14 more,"Work Life Balance, Work Satisfaction",Promotions / Appraisal
7086,CP Plus,4.0,444,--,10,None,201-500 Employees,None,None,Tirupati +20 more,"Skill Development / Learning, Work Satisfactio...",NaN
7190,Acme Industries,4.2,277,--,5,None,11-50 Employees,None,None,Guwahati +6 more,"Skill Development / Learning, Company Culture,...","Promotions / Appraisal, Salary & Benefits"
7192,Itvedant Education,4.3,196,42,7,None,11-50 Employees,None,None,Thane +8 more,"Company Culture, Skill Development / Learning,...",NaN
7197,Experis,3.3,838,10,9,None,501-1k Employees (Global),None,None,Gurgaon +12 more,NaN,"Promotions / Appraisal, Job Security, Work Sat..."
7300,Ashv Finance,4.2,518,--,8,None,51-200 Employees,None,None,Mumbai +26 more,"Work Life Balance, Company Culture, Salary & B...",NaN
7353,Girnarsoft Automobiles,3.4,361,--,16,None,1k-5k Employees,None,None,Gurgaon/Gurugram +24 more,NaN,"Job Security, Promotions / Appraisal, Skill De..."
7355,Clarus Rcm Infotech,3.5,464,1,9,None,51-200 Employees,None,None,Hyderabad/Secunderabad +4 more,NaN,"Job Security, Promotions / Appraisal, Company ..."
7360,Clarus Rcm Infotech,3.5,464,1,9,None,51-200 Employees,None,None,Hyderabad/Secunderabad +4 more,NaN,"Job Security, Promotions / Appraisal, Company ..."
7366,Girnarsoft Automobiles,3.4,361,--,16,None,1k-5k Employees,None,None,Gurgaon/Gurugram +24 more,NaN,"Job Security, Promotions / Appraisal, Skill De..."
7399,RS India Group,4.0,186,--,3,None,51-200 Employees,None,None,Noida +24 more,"Work Life Balance, Skill Development / Learning",Promotions / Appraisal
7410,Oasis Partners Asia,3.9,452,--,9,None,5k-10k Employees,None,None,Mumbai +50 more,Skill Development / Learning,"Promotions / Appraisal, Job Security, Salary &..."
7503,Bajaj Electronics,3.9,508,--,6,None,11-50 Employees,None,None,Hyderabad/Secunderabad +15 more,NaN,"Promotions / Appraisal, Job Security, Company ..."
7584,Filo Edtech,3.4,336,5,4,None,51-200 Employees,None,None,Gurgaon/Gurugram +8 more,NaN,"Job Security, Promotions / Appraisal, Work Sat..."
7712,Airworks,3.9,588,3,13,None,51-200 Employees,None,None,Hosur +9 more,"Skill Development / Learning, Job Security, Wo...",Promotions / Appraisal
7741,Sterling Manufacturing Company,4.3,54,1,4,None,1-10 Employees,None,None,Gurgaon/Gurugram +22 more,"Company Culture, Work Life Balance, Salary & B...",NaN
7859,Lizmontagens India,4.2,404,--,6,None,51-200 Employees,None,None,Mumbai +10 more,"Job Security, Salary & Benefits, Company Culture",NaN
7865,Lumens Technologies,3.8,952,3,10,None,1k-5k Employees,None,None,Mumbai +7 more,Work Life Balance,"Promotions / Appraisal, Work Satisfaction"
7902,Tata Communications Payment Solutions,3.7,372,--,11,None,201-500 Employees,None,None,Mumbai +18 more,NaN,"Promotions / Appraisal, Work Life Balance, Job..."
7903,Apollo 247,3.2,790,40,7,None,501-1k Employees,None,None,Hyderabad/Secunderabad +9 more,NaN,"Promotions / Appraisal, Job Security, Skill De..."
7904,Innovalance Learning Systems,3.0,208,10,4,None,1-10 Employees,None,None,New Delhi +4 more,NaN,"Promotions / Appraisal, Job Security, Salary &..."
7906,Ola cars,3.4,333,--,5,None,501-1k Employees,None,None,Kolkata +23 more,NaN,"Job Security, Promotions / Appraisal, Company ..."
7987,PERSOLKELLY,4.0,470,147,11,None,201-500 Employees,None,None,Bengaluru/Bangalore +22 more,"Work Life Balance, Company Culture, Skill Deve...",Promotions / Appraisal
8073,Aashman Foundation,3.6,147,--,6,None,1k-5k Employees,None,None,Panchkula +15 more,NaN,"Salary & Benefits, Job Security, Promotions / ..."
8077,Ola Foods,3.6,418,22,17,None,1k-5k Employees,None,None,Bengaluru/Bangalore +13 more,Salary & Benefits,"Job Security, Promotions / Appraisal"
8200,Mindspace Outsourcing Services,4.2,220,4,16,None,51-200 Employees,None,None,Jaipur +1 more,"Skill Development / Learning, Work Satisfactio...",NaN
8239,DHL IT Services,4.4,950,--,8,None,501-1k Employees,None,None,Chennai +4 more,"Company Culture, Work Life Balance, Job Security",NaN
8296,Dhatsol IT Solutions,3.6,289,--,29,None,51-200 Employees,None,None,Hyderabad/Secunderabad +1 more,NaN,"Salary & Benefits, Job Security, Skill Develop..."
8330,Airtel X- Labs,3.3,884,10,11,None,1k-5k Employees,None,None,Gurgaon/Gurugram +7 more,NaN,"Promotions / Appraisal, Company Culture, Work ..."
8337,Thar Worx,4.0,687,--,13,None,1k-5k Employees,None,None,Bengaluru/Bangalore +4 more,"Work Life Balance, Company Culture, Job Security",NaN
8341,Centurion Software Solutions,4.4,1.4k,--,24,None,11-50 Employees,None,None,Bengaluru/Bangalore +3 more,"Skill Development / Learning, Company Culture,...",NaN
8399,Fotografik Enterprises,3.6,328,1,10,None,51-200 Employees,None,None,Chandigarh +3 more,NaN,"Promotions / Appraisal, Job Security, Work Sat..."
8479,Detox Group,3.9,519,--,10,None,51-200 Employees,None,None,Surat +9 more,Job Security,Promotions / Appraisal
8481,Mindtree Solutions,3.9,1.3k,--,15,None,1-10 Employees,None,None,Delhi +6 more,"Job Security, Skill Development / Learning, Wo...",Promotions / Appraisal
8484,Evolve Back Luxury Resorts,4.0,229,8,6,None,501-1k Employees,None,None,Bengaluru/Bangalore +6 more,"Job Security, Company Culture, Work Satisfaction",NaN
8516,Sarvagram Fincare,3.9,380,2,5,None,51-200 Employees,None,None,Pune +40 more,"Salary & Benefits, Company Culture, Skill Deve...",NaN
8520,Bharat Petroleum Mumbai Refinery,4.0,462,--,4,None,11-50 Employees,None,None,Mumbai +7 more,"Salary & Benefits, Company Culture, Job Security",Promotions / Appraisal
8543,SVP Hospital,3.8,407,--,8,None,1-10 Employees,None,None,Ahmedabad +8 more,Work Life Balance,"Promotions / Appraisal, Salary & Benefits, Job..."
8705,Arvind Technocrats & Engineers LLP,3.5,252,1,9,None,1k-5k Employees,None,None,New Delhi +15 more,NaN,"Work Life Balance, Salary & Benefits, Promotio..."
8794,Daurala Sugar Works,4.0,393,--,4,None,501-1k Employees,None,None,Meerut +2 more,"Job Security, Company Culture, Work Life Balance",NaN
8828,Ind Synergy,3.9,449,--,8,None,1k-5k Employees,None,None,Nagpur +6 more,"Work Life Balance, Work Satisfaction, Job Secu...",Promotions / Appraisal
8839,Amalgam Steel,3.9,551,1,7,None,201-500 Employees,None,None,Jamshedpur +3 more,"Work Life Balance, Job Security","Promotions / Appraisal, Salary & Benefits"
8845,Amalgam Steel,3.9,551,1,7,None,201-500 Employees,None,None,Jamshedpur +3 more,"Work Life Balance, Job Security","Promotions / Appraisal, Salary & Benefits"
8924,Emonics,4.2,295,--,6,None,201-500 Employees,None,None,Noida +5 more,"Salary & Benefits, Work Life Balance, Work Sat...",NaN
8943,PPMS Field Marketing,3.9,305,--,8,None,501-1k Employees,None,None,Chennai +20 more,"Skill Development / Learning, Work Satisfaction","Promotions / Appraisal, Salary & Benefits"
9057,Tcs And Associates,4.0,995,--,4,None,51-200 Employees,None,None,Mumbai +14 more,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
9131,Chloride Metals,3.6,420,--,7,None,201-500 Employees,None,None,Haldia +5 more,Job Security,"Promotions / Appraisal, Salary & Benefits, Com..."
9177,Vivifi India Finance,3.5,417,--,4,None,51-200 Employees,None,None,Hyderabad/Secunderabad +2 more,NaN,"Promotions / Appraisal, Work Life Balance, Job..."
9182,Foxlink India Electric,3.7,420,--,10,None,201-500 Employees,None,None,Tirupati +7 more,NaN,"Promotions / Appraisal, Work Satisfaction, Ski..."
9237,DAIMLER TRUCKS ASIA,3.8,767,--,7,None,501-1k Employees,None,None,Chennai +9 more,"Work Life Balance, Job Security",Promotions / Appraisal
9249,PETROCON ENGINEERS AND CONSULTANTS,3.1,455,7,7,None,51-200 Employees,None,None,Hyderabad/Secunderabad +5 more,NaN,"Salary & Benefits, Company Culture, Work Life ..."
9252,KLM Laboratories,3.9,439,2,8,None,51-200 Employees,None,None,Vadodara +15 more,Job Security,NaN
9294,Fortune Business Insights,4.2,215,33,28,None,51-200 Employees,None,None,Pune +2 more,"Company Culture, Work Life Balance, Job Security",NaN
9300,Wavin,3.5,360,--,4,None,5k-10k Employees,None,None,Noida +19 more,NaN,"Promotions / Appraisal, Company Culture"
9304,Aurobindho Pharma,4.0,444,--,6,None,10k-50k Employees,None,None,Hyderabad/Secunderabad +11 more,Job Security,Promotions / Appraisal
9333,BIS,4.0,1k,--,16,None,1k-5k Employees (Global),None,None,London +13 more,"Company Culture, Work Satisfaction, Salary & B...",NaN
9342,Bubugao Communication,4.3,272,--,--,None,51-200 Employees,None,None,Jaipur +20 more,"Company Culture, Job Security, Skill Developme...",Promotions / Appraisal
9364,Edify School,3.7,308,--,16,None,11-50 Employees,None,None,Firozabad +17 more,NaN,"Promotions / Appraisal, Salary & Benefits, Job..."
9388,Bubugao Communication,4.3,272,--,8,None,51-200 Employees,None,None,Jaipur +20 more,"Company Culture, Job Security, Skill Developme...",Promotions / Appraisal
9393,Saarloha Advanced Materials,3.3,492,--,6,None,1k-5k Employees,None,None,Pune +3 more,NaN,"Promotions / Appraisal, Company Culture, Skill..."
9421,Edify School,3.7,308,--,16,None,11-50 Employees,None,None,Firozabad +17 more,NaN,"Promotions / Appraisal, Salary & Benefits, Job..."
9426,Optimus Pharma,3.6,614,--,11,None,51-200 Employees,None,None,Hyderabad/Secunderabad +2 more,NaN,"Company Culture, Work Life Balance, Promotions..."
9428,ASC Technology Solutions,4.4,90,--,3,None,51-200 Employees,None,None,Ahmedabad +4 more,"Salary & Benefits, Skill Development / Learnin...",NaN
9435,IBM Consulting,3.9,802,--,10,None,10k-50k Employees,None,None,Bengaluru/Bangalore +9 more,"Job Security, Work Life Balance, Skill Develop...",Promotions / Appraisal
9438,Deduce Technologies,3.6,745,--,12,None,201-500 Employees,None,None,Bengaluru/Bangalore +1 more,NaN,"Skill Development / Learning, Promotions / App..."
9492,Shreeja Mahila Milk Producer Company,4.4,256,2,17,None,51-200 Employees,None,None,Tirupati +9 more,"Company Culture, Skill Development / Learning,...",NaN
9502,Maruti Suzuki Arena KTL,4.2,568,--,7,None,11-50 Employees,None,None,Lucknow +40 more,"Skill Development / Learning, Work Life Balanc...",NaN
9612,KGL,3.2,419,--,7,None,501-1k Employees,None,None,Mumbai +7 more,NaN,"Promotions / Appraisal, Salary & Benefits, Ski..."
9621,KGL,3.2,419,--,7,None,501-1k Employees,None,None,Mumbai +7 more,NaN,"Promotions / Appraisal, Salary & Benefits, Ski..."
9625,Valeo Lightning Systems India,3.9,446,--,20,None,201-500 Employees,None,None,Chennai +5 more,"Job Security, Skill Development / Learning, Wo...",NaN
9688,Sfc Solutions,3.9,533,--,5,None,501-1k Employees,None,None,Bawal +13 more,NaN,"Job Security, Promotions / Appraisal"
9689,SolarSquare Energy,3.1,358,39,6,None,51-200 Employees,None,None,Pune +19 more,NaN,"Job Security, Promotions / Appraisal, Work Lif..."
9694,PEARCE SERVICES,3.4,368,--,1,None,201-500 Employees,None,None,Mohali +6 more,Salary & Benefits,"Job Security, Skill Development / Learning, Co..."
9762,AUDITOR & TAX CONSULTANT,4.2,769,--,3,None,1-10 Employees,None,None,Chennai +26 more,"Skill Development / Learning, Work Satisfactio...",Promotions / Appraisal
9765,Blackboard Education and Reseach Foundation,3.6,427,29,6,None,1-10 Employees,None,None,Noida +2 more,NaN,"Promotions / Appraisal, Job Security, Skill De..."
9776,Automotive Industry,4.0,1.5k,--,7,None,501-1k Employees (Global),None,None,Pune +35 more,Salary & Benefits,NaN
9824,ESL Steel,3.8,371,--,3,None,501-1k Employees,None,None,Bokaro +2 more,"Salary & Benefits, Skill Development / Learning",Promotions / Appraisal
9875,Digicommerce Solutions,4.5,167,--,4,None,1-10 Employees,None,None,Noida +3 more,"Company Culture, Skill Development / Learning,...",NaN
9898,DANA Graziano India,4.1,375,--,15,None,51-200 Employees,None,None,Greater Noida +7 more,Company Culture,Promotions / Appraisal
9938,alliantgroup,2.8,710,--,10,None,501-1k Employees,None,None,Hyderabad/Secunderabad +1 more,NaN,"Skill Development / Learning, Work Satisfactio..."
9941,Vialto Partners,3.0,601,3,--,None,5k-10k Employees,None,None,Kolkata +5 more,NaN,"Promotions / Appraisal, Work Satisfaction, Wor..."
9953,Pavna Group of Industries,3.5,405,--,5,None,51-200 Employees,None,None,Aligarh +3 more,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
9968,A-Check Global,3.9,279,2,6,None,201-500 Employees,None,None,Chennai +4 more,"Job Security, Work Life Balance","Salary & Benefits, Promotions / Appraisal"

In [ ]:
temp_clean2 = temp_clean2.dropna(subset=['how_old'])
temp_clean2.loc[temp_clean2['how_old'].str.endswith('more')]

,name,rating,avg_salary,jobs,benefits,type_of_company,team_size,state,how_old,city,positives,negatives
297,Capgemini Engineering,3.6,21.2k,87,155,None,10k-50k Employees,None,Gurgaon/Gurugram +19 more,NaN,Job Security,"Promotions / Appraisal, Salary & Benefits, Wor..."
712,CorroHealth,3.3,4.1k,4,15,None,1k-5k Employees,None,Chennai +15 more,NaN,NaN,"Work Life Balance, Promotions / Appraisal, Wor..."
717,JioMart,3.9,3.2k,--,77,None,51-200 Employees,None,Kolkata +239 more,NaN,"Skill Development / Learning, Salary & Benefits","Promotions / Appraisal, Job Security"
1590,Rane NSK Steering Systems,4.1,1.8k,--,72,None,201-500 Employees,None,Bawal +17 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
1635,Wipro PARI,3.4,2k,3,25,None,1k-5k Employees,None,Pune +16 more,NaN,Job Security,"Work Life Balance, Company Culture, Work Satis..."
1781,AI Airport Services,3.4,1.1k,--,3,None,1k-5k Employees,None,Mumbai +49 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
2766,Suzlon Global Services,3.9,1.2k,--,9,None,51-200 Employees,None,Pune +43 more,NaN,"Job Security, Skill Development / Learning",Promotions / Appraisal
2932,Stellantis,3.3,2.1k,--,16,None,1k-5k Employees,None,Chennai +10 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
2949,Qwik Supply Chain,3.6,763,--,18,None,1k-5k Employees,None,Jaipur +106 more,NaN,NaN,"Promotions / Appraisal, Job Security, Company ..."
3193,VFISLK,4.0,1.3k,28,19,None,1k-5k Employees,None,Bengaluru/Bangalore +7 more,NaN,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
3223,Mahle Anand Thermal Systems,4.2,1.1k,--,31,None,201-500 Employees,None,Pune +9 more,NaN,"Job Security, Company Culture, Skill Developme...",NaN
3353,Ambit Finvest,4.1,958,--,16,None,51-200 Employees,None,Mumbai +53 more,NaN,"Salary & Benefits, Company Culture, Job Security",NaN
3980,Vasta Global,3.7,968,10,7,None,1k-5k Employees,None,Navi Mumbai +7 more,NaN,Work Life Balance,"Promotions / Appraisal, Salary & Benefits, Ski..."
3998,KHY ELECTRONIC,3.5,793,--,25,None,11-50 Employees,None,Noida +6 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Job..."
4100,Tata Play Fiber,4.3,896,9,16,None,51-200 Employees,None,Mumbai +26 more,NaN,"Company Culture, Skill Development / Learning,...",NaN
4184,ExpertCallers,3.6,722,3,10,None,11-50 Employees,None,Bengaluru/Bangalore +6 more,NaN,NaN,"Promotions / Appraisal, Job Security, Salary &..."
4232,Flipkart Wholesale,4.0,531,--,24,None,11-50 Employees,None,Bengaluru/Bangalore +45 more,NaN,"Company Culture, Work Life Balance, Salary & B...",NaN
4341,Quantzig,4.8,188,5,66,None,51-200 Employees,None,Bengaluru/Bangalore +1 more,NaN,"Salary & Benefits, Skill Development / Learnin...",NaN
4464,Peerless Biotech,4.5,97,--,7,None,51-200 Employees,None,Chennai +25 more,NaN,"Skill Development / Learning, Work Satisfactio...",NaN
4739,Electrical Maintenance,4.1,1.1k,--,14,None,1-10 Employees,None,Chennai +48 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
4753,Hitachi Astemo Rajasthan Brake Systems,4.2,566,--,19,None,201-500 Employees,None,Neemrana +10 more,NaN,"Company Culture, Work Life Balance, Job Security",NaN
4908,Marelli Motherson Automotive Lighting,3.8,717,--,15,None,11-50 Employees,None,Pune +9 more,NaN,"Job Security, Skill Development / Learning",NaN
4979,Acmegrade,3.5,108,--,2,None,51-200 Employees,None,Bengaluru/Bangalore +8 more,NaN,NaN,"Salary & Benefits, Work Satisfaction, Job Secu..."
5181,Kpmg Resource Centre,3.9,919,--,14,None,1k-5k Employees,None,Mumbai +10 more,NaN,"Job Security, Company Culture, Skill Developme...","Promotions / Appraisal, Work Satisfaction, Sal..."
5183,Vishwa Samudra Engineering,4.0,663,10,13,None,501-1k Employees,None,Hyderabad/Secunderabad +24 more,NaN,Skill Development / Learning,NaN
5237,ITC Group,4.0,1.2k,--,15,None,10k-50k Employees,None,Bengaluru/Bangalore +35 more,NaN,"Job Security, Skill Development / Learning",Promotions / Appraisal
5368,iNeuron.ai,4.0,643,--,28,None,51-200 Employees,None,Bengaluru/Bangalore +3 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
5610,Txd (india) Technology,4.1,653,--,15,None,51-200 Employees,None,Bawal +9 more,NaN,"Skill Development / Learning, Work Life Balanc...",Promotions / Appraisal
5739,Tax Consultants,4.1,1.1k,--,9,None,11-50 Employees (Global),None,Fairfield +61 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
5834,Concentric,3.8,740,2,19,None,11-50 Employees,None,Gurgaon/Gurugram +17 more,NaN,Job Security,"Promotions / Appraisal, Salary & Benefits"
5863,First Data,4.1,1k,--,16,None,10k-50k Employees (Global),None,Atlanta +12 more,NaN,"Work Life Balance, Company Culture, Salary & B...",NaN
5892,First Data,4.1,1k,--,16,None,10k-50k Employees (Global),None,Atlanta +12 more,NaN,"Work Life Balance, Company Culture, Salary & B...",NaN
6054,Netoyed,4.0,90,11,115,None,11-50 Employees,None,Noida +1 more,NaN,"Skill Development / Learning, Work Life Balanc...",NaN
6147,Motilal Oswal Securities,4.2,317,--,16,None,1k-5k Employees (Global),None,Mumbai +21 more,NaN,"Skill Development / Learning, Salary & Benefit...",NaN
6236,Shyam Steel Manufacturing,3.5,610,3,4,None,1k-5k Employees,None,Kolkata +24 more,NaN,NaN,"Work Satisfaction, Promotions / Appraisal, Job..."
6270,Annova Solutions,3.8,461,3,9,None,10k-50k Employees,None,Indore +2 more,NaN,NaN,NaN
6377,Toshiba Water Solutions,3.9,667,--,11,None,51-200 Employees,None,Gurgaon/Gurugram +14 more,NaN,"Job Security, Work Life Balance",Promotions / Appraisal
6400,Outlook,3.4,121,--,7,None,51-200 Employees,None,Chennai +12 more,NaN,NaN,"Promotions / Appraisal, Work Satisfaction, Sal..."
6475,ICA Pidilite,4.1,577,31,9,None,51-200 Employees,None,Mumbai +31 more,NaN,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
6484,ICA Pidilite,4.1,577,31,9,None,51-200 Employees,None,Mumbai +31 more,NaN,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
6586,QO BOX,4.7,43,--,13,None,11-50 Employees,None,Chennai +3 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
6639,Byju's Future School,3.2,246,--,23,None,10k-50k Employees,None,Bengaluru/Bangalore +20 more,NaN,NaN,"Job Security, Company Culture, Promotions / Ap..."
6665,LCC Projects,4.1,369,1,8,None,1k-5k Employees,None,Ahmedabad +16 more,NaN,"Salary & Benefits, Company Culture, Skill Deve...",NaN
6704,Relevel,2.9,515,28,7,None,51-200 Employees,None,Bengaluru/Bangalore +8 more,NaN,NaN,"Job Security, Work Satisfaction, Company Culture"
6762,Little Nap Recliners,4.8,27,--,43,None,201-500 Employees,None,New Delhi +15 more,NaN,"Company Culture, Skill Development / Learning,...",NaN
6766,Reliance Smart Point,4.1,319,--,9,None,1-10 Employees,None,Kolkata +46 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
6884,Deccan iServices,3.3,667,3,4,None,201-500 Employees,None,Chennai +6 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
6904,Deccan iServices,3.3,667,3,4,None,201-500 Employees,None,Chennai +6 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
6952,Ind swift ltd. Gbu,4.0,57,--,4,None,1k-5k Employees,None,Chandigarh +14 more,NaN,"Work Life Balance, Work Satisfaction",Promotions / Appraisal
7086,CP Plus,4.0,444,--,10,None,201-500 Employees,None,Tirupati +20 more,NaN,"Skill Development / Learning, Work Satisfactio...",NaN
7190,Acme Industries,4.2,277,--,5,None,11-50 Employees,None,Guwahati +6 more,NaN,"Skill Development / Learning, Company Culture,...","Promotions / Appraisal, Salary & Benefits"
7192,Itvedant Education,4.3,196,42,7,None,11-50 Employees,None,Thane +8 more,NaN,"Company Culture, Skill Development / Learning,...",NaN
7197,Experis,3.3,838,10,9,None,501-1k Employees (Global),None,Gurgaon +12 more,NaN,NaN,"Promotions / Appraisal, Job Security, Work Sat..."
7300,Ashv Finance,4.2,518,--,8,None,51-200 Employees,None,Mumbai +26 more,NaN,"Work Life Balance, Company Culture, Salary & B...",NaN
7353,Girnarsoft Automobiles,3.4,361,--,16,None,1k-5k Employees,None,Gurgaon/Gurugram +24 more,NaN,NaN,"Job Security, Promotions / Appraisal, Skill De..."
7355,Clarus Rcm Infotech,3.5,464,1,9,None,51-200 Employees,None,Hyderabad/Secunderabad +4 more,NaN,NaN,"Job Security, Promotions / Appraisal, Company ..."
7360,Clarus Rcm Infotech,3.5,464,1,9,None,51-200 Employees,None,Hyderabad/Secunderabad +4 more,NaN,NaN,"Job Security, Promotions / Appraisal, Company ..."
7366,Girnarsoft Automobiles,3.4,361,--,16,None,1k-5k Employees,None,Gurgaon/Gurugram +24 more,NaN,NaN,"Job Security, Promotions / Appraisal, Skill De..."
7399,RS India Group,4.0,186,--,3,None,51-200 Employees,None,Noida +24 more,NaN,"Work Life Balance, Skill Development / Learning",Promotions / Appraisal
7410,Oasis Partners Asia,3.9,452,--,9,None,5k-10k Employees,None,Mumbai +50 more,NaN,Skill Development / Learning,"Promotions / Appraisal, Job Security, Salary &..."
7503,Bajaj Electronics,3.9,508,--,6,None,11-50 Employees,None,Hyderabad/Secunderabad +15 more,NaN,NaN,"Promotions / Appraisal, Job Security, Company ..."
7584,Filo Edtech,3.4,336,5,4,None,51-200 Employees,None,Gurgaon/Gurugram +8 more,NaN,NaN,"Job Security, Promotions / Appraisal, Work Sat..."
7712,Airworks,3.9,588,3,13,None,51-200 Employees,None,Hosur +9 more,NaN,"Skill Development / Learning, Job Security, Wo...",Promotions / Appraisal
7741,Sterling Manufacturing Company,4.3,54,1,4,None,1-10 Employees,None,Gurgaon/Gurugram +22 more,NaN,"Company Culture, Work Life Balance, Salary & B...",NaN
7859,Lizmontagens India,4.2,404,--,6,None,51-200 Employees,None,Mumbai +10 more,NaN,"Job Security, Salary & Benefits, Company Culture",NaN
7865,Lumens Technologies,3.8,952,3,10,None,1k-5k Employees,None,Mumbai +7 more,NaN,Work Life Balance,"Promotions / Appraisal, Work Satisfaction"
7902,Tata Communications Payment Solutions,3.7,372,--,11,None,201-500 Employees,None,Mumbai +18 more,NaN,NaN,"Promotions / Appraisal, Work Life Balance, Job..."
7903,Apollo 247,3.2,790,40,7,None,501-1k Employees,None,Hyderabad/Secunderabad +9 more,NaN,NaN,"Promotions / Appraisal, Job Security, Skill De..."
7904,Innovalance Learning Systems,3.0,208,10,4,None,1-10 Employees,None,New Delhi +4 more,NaN,NaN,"Promotions / Appraisal, Job Security, Salary &..."
7906,Ola cars,3.4,333,--,5,None,501-1k Employees,None,Kolkata +23 more,NaN,NaN,"Job Security, Promotions / Appraisal, Company ..."
7987,PERSOLKELLY,4.0,470,147,11,None,201-500 Employees,None,Bengaluru/Bangalore +22 more,NaN,"Work Life Balance, Company Culture, Skill Deve...",Promotions / Appraisal
8073,Aashman Foundation,3.6,147,--,6,None,1k-5k Employees,None,Panchkula +15 more,NaN,NaN,"Salary & Benefits, Job Security, Promotions / ..."
8077,Ola Foods,3.6,418,22,17,None,1k-5k Employees,None,Bengaluru/Bangalore +13 more,NaN,Salary & Benefits,"Job Security, Promotions / Appraisal"
8200,Mindspace Outsourcing Services,4.2,220,4,16,None,51-200 Employees,None,Jaipur +1 more,NaN,"Skill Development / Learning, Work Satisfactio...",NaN
8239,DHL IT Services,4.4,950,--,8,None,501-1k Employees,None,Chennai +4 more,NaN,"Company Culture, Work Life Balance, Job Security",NaN
8296,Dhatsol IT Solutions,3.6,289,--,29,None,51-200 Employees,None,Hyderabad/Secunderabad +1 more,NaN,NaN,"Salary & Benefits, Job Security, Skill Develop..."
8330,Airtel X- Labs,3.3,884,10,11,None,1k-5k Employees,None,Gurgaon/Gurugram +7 more,NaN,NaN,"Promotions / Appraisal, Company Culture, Work ..."
8337,Thar Worx,4.0,687,--,13,None,1k-5k Employees,None,Bengaluru/Bangalore +4 more,NaN,"Work Life Balance, Company Culture, Job Security",NaN
8341,Centurion Software Solutions,4.4,1.4k,--,24,None,11-50 Employees,None,Bengaluru/Bangalore +3 more,NaN,"Skill Development / Learning, Company Culture,...",NaN
8399,Fotografik Enterprises,3.6,328,1,10,None,51-200 Employees,None,Chandigarh +3 more,NaN,NaN,"Promotions / Appraisal, Job Security, Work Sat..."
8479,Detox Group,3.9,519,--,10,None,51-200 Employees,None,Surat +9 more,NaN,Job Security,Promotions / Appraisal
8481,Mindtree Solutions,3.9,1.3k,--,15,None,1-10 Employees,None,Delhi +6 more,NaN,"Job Security, Skill Development / Learning, Wo...",Promotions / Appraisal
8484,Evolve Back Luxury Resorts,4.0,229,8,6,None,501-1k Employees,None,Bengaluru/Bangalore +6 more,NaN,"Job Security, Company Culture, Work Satisfaction",NaN
8516,Sarvagram Fincare,3.9,380,2,5,None,51-200 Employees,None,Pune +40 more,NaN,"Salary & Benefits, Company Culture, Skill Deve...",NaN
8520,Bharat Petroleum Mumbai Refinery,4.0,462,--,4,None,11-50 Employees,None,Mumbai +7 more,NaN,"Salary & Benefits, Company Culture, Job Security",Promotions / Appraisal
8543,SVP Hospital,3.8,407,--,8,None,1-10 Employees,None,Ahmedabad +8 more,NaN,Work Life Balance,"Promotions / Appraisal, Salary & Benefits, Job..."
8705,Arvind Technocrats & Engineers LLP,3.5,252,1,9,None,1k-5k Employees,None,New Delhi +15 more,NaN,NaN,"Work Life Balance, Salary & Benefits, Promotio..."
8794,Daurala Sugar Works,4.0,393,--,4,None,501-1k Employees,None,Meerut +2 more,NaN,"Job Security, Company Culture, Work Life Balance",NaN
8828,Ind Synergy,3.9,449,--,8,None,1k-5k Employees,None,Nagpur +6 more,NaN,"Work Life Balance, Work Satisfaction, Job Secu...",Promotions / Appraisal
8839,Amalgam Steel,3.9,551,1,7,None,201-500 Employees,None,Jamshedpur +3 more,NaN,"Work Life Balance, Job Security","Promotions / Appraisal, Salary & Benefits"
8845,Amalgam Steel,3.9,551,1,7,None,201-500 Employees,None,Jamshedpur +3 more,NaN,"Work Life Balance, Job Security","Promotions / Appraisal, Salary & Benefits"
8924,Emonics,4.2,295,--,6,None,201-500 Employees,None,Noida +5 more,NaN,"Salary & Benefits, Work Life Balance, Work Sat...",NaN
8943,PPMS Field Marketing,3.9,305,--,8,None,501-1k Employees,None,Chennai +20 more,NaN,"Skill Development / Learning, Work Satisfaction","Promotions / Appraisal, Salary & Benefits"
9057,Tcs And Associates,4.0,995,--,4,None,51-200 Employees,None,Mumbai +14 more,NaN,"Job Security, Work Life Balance, Company Culture",Promotions / Appraisal
9131,Chloride Metals,3.6,420,--,7,None,201-500 Employees,None,Haldia +5 more,NaN,Job Security,"Promotions / Appraisal, Salary & Benefits, Com..."
9177,Vivifi India Finance,3.5,417,--,4,None,51-200 Employees,None,Hyderabad/Secunderabad +2 more,NaN,NaN,"Promotions / Appraisal, Work Life Balance, Job..."
9182,Foxlink India Electric,3.7,420,--,10,None,201-500 Employees,None,Tirupati +7 more,NaN,NaN,"Promotions / Appraisal, Work Satisfaction, Ski..."
9237,DAIMLER TRUCKS ASIA,3.8,767,--,7,None,501-1k Employees,None,Chennai +9 more,NaN,"Work Life Balance, Job Security",Promotions / Appraisal
9249,PETROCON ENGINEERS AND CONSULTANTS,3.1,455,7,7,None,51-200 Employees,None,Hyderabad/Secunderabad +5 more,NaN,NaN,"Salary & Benefits, Company Culture, Work Life ..."
9252,KLM Laboratories,3.9,439,2,8,None,51-200 Employees,None,Vadodara +15 more,NaN,Job Security,NaN
9294,Fortune Business Insights,4.2,215,33,28,None,51-200 Employees,None,Pune +2 more,NaN,"Company Culture, Work Life Balance, Job Security",NaN
9300,Wavin,3.5,360,--,4,None,5k-10k Employees,None,Noida +19 more,NaN,NaN,"Promotions / Appraisal, Company Culture"
9304,Aurobindho Pharma,4.0,444,--,6,None,10k-50k Employees,None,Hyderabad/Secunderabad +11 more,NaN,Job Security,Promotions / Appraisal
9333,BIS,4.0,1k,--,16,None,1k-5k Employees (Global),None,London +13 more,NaN,"Company Culture, Work Satisfaction, Salary & B...",NaN
9342,Bubugao Communication,4.3,272,--,--,None,51-200 Employees,None,Jaipur +20 more,NaN,"Company Culture, Job Security, Skill Developme...",Promotions / Appraisal
9364,Edify School,3.7,308,--,16,None,11-50 Employees,None,Firozabad +17 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Job..."
9388,Bubugao Communication,4.3,272,--,8,None,51-200 Employees,None,Jaipur +20 more,NaN,"Company Culture, Job Security, Skill Developme...",Promotions / Appraisal
9393,Saarloha Advanced Materials,3.3,492,--,6,None,1k-5k Employees,None,Pune +3 more,NaN,NaN,"Promotions / Appraisal, Company Culture, Skill..."
9421,Edify School,3.7,308,--,16,None,11-50 Employees,None,Firozabad +17 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Job..."
9426,Optimus Pharma,3.6,614,--,11,None,51-200 Employees,None,Hyderabad/Secunderabad +2 more,NaN,NaN,"Company Culture, Work Life Balance, Promotions..."
9428,ASC Technology Solutions,4.4,90,--,3,None,51-200 Employees,None,Ahmedabad +4 more,NaN,"Salary & Benefits, Skill Development / Learnin...",NaN
9435,IBM Consulting,3.9,802,--,10,None,10k-50k Employees,None,Bengaluru/Bangalore +9 more,NaN,"Job Security, Work Life Balance, Skill Develop...",Promotions / Appraisal
9438,Deduce Technologies,3.6,745,--,12,None,201-500 Employees,None,Bengaluru/Bangalore +1 more,NaN,NaN,"Skill Development / Learning, Promotions / App..."
9492,Shreeja Mahila Milk Producer Company,4.4,256,2,17,None,51-200 Employees,None,Tirupati +9 more,NaN,"Company Culture, Skill Development / Learning,...",NaN
9502,Maruti Suzuki Arena KTL,4.2,568,--,7,None,11-50 Employees,None,Lucknow +40 more,NaN,"Skill Development / Learning, Work Life Balanc...",NaN
9612,KGL,3.2,419,--,7,None,501-1k Employees,None,Mumbai +7 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Ski..."
9621,KGL,3.2,419,--,7,None,501-1k Employees,None,Mumbai +7 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Ski..."
9625,Valeo Lightning Systems India,3.9,446,--,20,None,201-500 Employees,None,Chennai +5 more,NaN,"Job Security, Skill Development / Learning, Wo...",NaN
9688,Sfc Solutions,3.9,533,--,5,None,501-1k Employees,None,Bawal +13 more,NaN,NaN,"Job Security, Promotions / Appraisal"
9689,SolarSquare Energy,3.1,358,39,6,None,51-200 Employees,None,Pune +19 more,NaN,NaN,"Job Security, Promotions / Appraisal, Work Lif..."
9694,PEARCE SERVICES,3.4,368,--,1,None,201-500 Employees,None,Mohali +6 more,NaN,Salary & Benefits,"Job Security, Skill Development / Learning, Co..."
9762,AUDITOR & TAX CONSULTANT,4.2,769,--,3,None,1-10 Employees,None,Chennai +26 more,NaN,"Skill Development / Learning, Work Satisfactio...",Promotions / Appraisal
9765,Blackboard Education and Reseach Foundation,3.6,427,29,6,None,1-10 Employees,None,Noida +2 more,NaN,NaN,"Promotions / Appraisal, Job Security, Skill De..."
9776,Automotive Industry,4.0,1.5k,--,7,None,501-1k Employees (Global),None,Pune +35 more,NaN,Salary & Benefits,NaN
9824,ESL Steel,3.8,371,--,3,None,501-1k Employees,None,Bokaro +2 more,NaN,"Salary & Benefits, Skill Development / Learning",Promotions / Appraisal
9875,Digicommerce Solutions,4.5,167,--,4,None,1-10 Employees,None,Noida +3 more,NaN,"Company Culture, Skill Development / Learning,...",NaN
9898,DANA Graziano India,4.1,375,--,15,None,51-200 Employees,None,Greater Noida +7 more,NaN,Company Culture,Promotions / Appraisal
9938,alliantgroup,2.8,710,--,10,None,501-1k Employees,None,Hyderabad/Secunderabad +1 more,NaN,NaN,"Skill Development / Learning, Work Satisfactio..."
9941,Vialto Partners,3.0,601,3,--,None,5k-10k Employees,None,Kolkata +5 more,NaN,NaN,"Promotions / Appraisal, Work Satisfaction, Wor..."
9953,Pavna Group of Industries,3.5,405,--,5,None,51-200 Employees,None,Aligarh +3 more,NaN,NaN,"Promotions / Appraisal, Salary & Benefits, Com..."
9968,A-Check Global,3.9,279,2,6,None,201-500 Employees,None,Chennai +4 more,NaN,"Job Security, Work Life Balance","Salary & Benefits, Promotions / Appraisal"

In [ ]:
temp_clean[~temp_clean['state'].isin(['Public'])] = temp_clean2[~temp_clean2['state'].isin(['Public'])]

<ipython-input-20-87661e221550>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_clean[~temp_clean['state'].isin(['Public'])] = temp_clean2[~temp_clean2['state'].isin(['Public'])]

In [ ]:

a= jobs[jobs['type_of_company'].str.endswith('more',na=False)]
a['city'] =a['type_of_company']
a['type_of_company']= np.nan
jobs.loc[jobs['type_of_company'].str.endswith('more',na=False)]=a

<ipython-input-23-96c64d5073a4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['city'] =a['type_of_company']
<ipython-input-23-96c64d5073a4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['type_of_company']= np.nan

In [ ]:
jobs['type_of_company'].value_counts()

IT Services & Consulting                                 1297
Engineering & Construction                                491
Auto Components                                           446
Industrial Machinery                                      391
Pharma                                                    374
Healthcare                                                365
Education & Training                                      321
Financial Services                                        280
Software Product                                          262
Internet                                                  240
Real Estate                                               216
BPO                                                       190
Fashion & Textile                                         190
Automobile                                                185
Recruitment                                               176
Chemicals                                                 169
Retail                                                    163
Logistics                                                 152
Food Processing                                           149
EdTech                                                    147
Power                                                     145
Building Material                                         135
Telecom                                                   131
Hospitality                                               130
Oil & Gas                                                 128
Consumer Electronics & Appliances                         127
NBFC                                                      110
FMCG                                                      107
FinTech                                                   105
Electronics Manufacturing                                 104
Insurance                                                 100
Metals & Mining                                            96
Banking                                                    93
Analytics & KPO                                            92
Electrical Equipment                                       91
Iron & Steel                                               89
51-200 Employees                                           69
Non-Profit                                                 68
Agro Chemicals                                             66
Management Consulting                                      66
Printing & Publishing                                      62
Medical Equipment                                          59
Facility Management Services                               58
1k-5k Employees                                            58
Marketing & Advertising                                    58
Government                                                 56
Media & Entertainment                                      50
201-500 Employees                                          50
Semiconductors                                             49
Accounting & Auditing                                      48
Aviation                                                   48
Beverage                                                   46
Packaging                                                  44
Agriculture                                                43
501-1k Employees                                           42
Petrochemicals                                             42
Beauty & Personal Care                                     42
Industrial Automation                                      40
Furniture & Furnishing                                     38
Law Enforcement & Security                                 37
Defence & Aerospace                                        37
Travel & Tourism                                           37
Hardware & Networking                                      36
Other                                                      34
Fitness & Wellness                                         30
Biotechnology                                              29
Ports & Shipping                                           28
Architecture & Interior Design                             27
Broadcasting                                               26
Waste Management                                           24
Investment Banking / Venture Capital / Private Equity      23
Jewellery                                                  21
Clinical Research                                          21
11-50 Employees                                            19
Chemicals / Agri Inputs                                    18
10k-50k Employees                                          17
Emerging Technologies                                      17
Pulp & Paper                                               16
Import & Export                                            15
Urban Transport                                            12
Legal                                                      11
1-10 Employees                                             11
Gaming                                                      9
Railways                                                    8
Animation & VFX                                             8
Design                                                      8
Sports & Recreation                                         6
501-1k Employees (Global)                                   6
Leather                                                     5
8 years old                                                 5
1k-5k Employees (Global)                                    5
5k-10k Employees                                            5
Content Development                                         4
Startup                                                     3
10k-50k Employees (Global)                                  3
5k-10k Employees (Global)                                   3
Events                                                      2
17 years old                                                2
7 years old                                                 2
201-500 Employees (Global)                                  2
Computer Software                                           1
13 years old                                                1
19 years old                                                1
Forbes Global 2000                                          1
14 years old                                                1
Conglomerate                                                1
44 years old                                                1
Ahmedabad                                                   1
23 years old                                                1
1 Lakh+ Employees                                           1
5 years old                                                 1
30 years old                                                1
74 years old                                                1
6 years old                                                 1
78 years old                                                1
11-50 Employees (Global)                                    1
Fortune India 500                                           1
Name: type_of_company, dtype: int64

In [ ]:
jobs.to_csv('job_safe.csv')